* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-size: 1.6rem;
}

 button{
  all: unset;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

#page {
  height: 100vh;
}

.flex {
  display: flex; 
}

#page > * {
  width: 50%;
}

img {
  width: 100%;
  object-fit: cover;
}

header img {
  width: 15rem;
  height: 5.3rem;
}

#page > div{
  padding: 4rem 11.2rem;
}

main{
  margin-top: 11.4rem;
}

.headline{
  max-width: 35rem;
}

h1{
  font-size: 36px;
line-height: 55px;
color: #1E293B;
}

h1 + p{
  color: #475569;
  margin-top: 1.6rem;
}

form{
  margin-top: 4rem;
}

.input-wrapper {
  position: relative;
}

form input{
  width: 100%;
  background: #FFFFFF;
border: 0.1rem solid #E2E8F0;
border-radius: 0.4rem;


padding: 1.6rem 1.2rem;
margin-top: 0.8rem;
}


form button{
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;

  background: #5300E0;
  border-radius: 0.4rem;
  width: 100%;

  font-weight: bold;
  color: #FFFFFF;

  margin-block: 3.2rem;
  cursor: pointer;
}


form button:focus {
  outline: 2rem 4rem solid black;
  border-radius: 0.4rem;
}

form button:hover{
   background: #6D18FF
}

form .input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

.label-wrapper {
  display: flex;
  justify-content:space-between;
}

::-ms-reveal{
  display: none;
}

.eye {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;

  cursor: pointer;

  position: absolute;
  top: 52%;
  right: 5%;
}
a:hover{
  text-decoration: underline;
}

.hide {
  display: none;
}

.create-account{
   display: flex;
   justify-content: space-between;
}

@media (max-width: 900px){
  #page > *{
    width: 100%;
  }

  #page > img{
    display: none;
  }
  #page > div{
    padding: 11rem;
  }
  
  main{
    max-width: 100%;
  }
}

@media (max-width:600px){
  #page > div{
    padding: 4rem;
  }
}

